In [1]:
import pandas as pd

In [2]:
import pathlib
pathlib.Path().absolute()

WindowsPath('C:/Users/reaso/PythonFiles/UpLevel Urban Dictionary Misogyny')

In [3]:
#Get data
df = pd.read_csv('ManualTag_Misogyny.csv', encoding = 'unicode_escape', engine ='python')

In [4]:
df

                 Definition  is_misogyny
0     Ur gonna die... queer          0.0
1     Valuptuous man boobs.          0.0
2     Variation of brother.          0.0
3     Very impressive penis          0.0
4     What I call my penis.          0.0
...                     ...          ...
2281  A women who is "easy"          1.0
2282  Any hot/ sexy chicks.          1.0
2283  Any vaginal secretion          1.0
2284  Person who slaps hoes          1.0
2285  That hoe out there!!!          1.0

[2286 rows x 2 columns]

In [5]:
#Check for missing data from whole dataframe
df.isna().sum().sum()

1

In [6]:
#select row with NaN(Missing Data)
df[df.isna().any(axis=1)]

                                             Definition  is_misogyny
1251  When someone makes a post on Facebook and you ...          NaN

In [7]:
#replace NaN value with '0'
df = df.fillna(0)

In [8]:
df.isna().sum().sum()

0

In [9]:
#sum up column total for 'is_misogyny'
df['is_misogyny'].sum()

1034.0

In [10]:
#Create a new column for definition minus any Punctuation
df['cleaned_definition'] = df['Definition'].str.replace('[^\w\s]','')
df.head()

              Definition  is_misogyny     cleaned_definition
0  Ur gonna die... queer          0.0     Ur gonna die queer
1  Valuptuous man boobs.          0.0   Valuptuous man boobs
2  Variation of brother.          0.0   Variation of brother
3  Very impressive penis          0.0  Very impressive penis
4  What I call my penis.          0.0   What I call my penis

In [11]:
#covert column 'cleaned_definition' to lowercase
df['cleaned_definition'] = df['cleaned_definition'].str.lower()
df.head()

              Definition  is_misogyny     cleaned_definition
0  Ur gonna die... queer          0.0     ur gonna die queer
1  Valuptuous man boobs.          0.0   valuptuous man boobs
2  Variation of brother.          0.0   variation of brother
3  Very impressive penis          0.0  very impressive penis
4  What I call my penis.          0.0   what i call my penis

In [13]:
#save to CSV
df.to_csv(r'C:/Users/reaso/PythonFiles/UpLevel Urban Dictionary Misogyny/24-06-2021.csv',index = False)